<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0", user-scalable="no" />
    <title>친구의 목소리 - 명령어</title>
    <style>
        .t {
            text-align: center;
        }
    </style>
</head>
<body style="overflow-x:hidden; overflow-y:auto;">
    <div class='t'>
        <h1>친구의 목소리 | 명령어</h1>

        <details>
            <summary>
                <strong>음성 채널</strong>
            </summary>
            <p>친구!생성 [음성 채널 이름]</p>
            <p>친구!삭제 [음성 채널 이름]</p>
        </details>
        <br>
        <details>
            <summary>
                <strong>게임/유튜브</strong>
            </summary>
            <p>친구!유튜브</p>
            <p>친구!배틀로얄 (멀티게임)</p>
            <p>친구!낚시 (싱글플레이)</p>
            <p>친구!포커</p>
        </details>
        <br>
        <details>
            <summary>
                <strong>미니게임</strong>
            </summary>
            <p>친구!가입</p>
            <p>친구!피자 굽기</p>
            <p>친구!화덕 업그레이드</p>
            <p>친구!화덕 상점</p>
            <p>친구!도박 [금액]</p>
            <p>친구!내정보</p>
        </details>
        <br>
        <details>
            <summary>
                <strong>팀 짜기</strong>
            </summary>
            <p>친구!팀</p>
        </details>
        <br>
        <details>
            <summary>
                <strong>기타</strong>
            </summary>
            <p>친구!개발자</p>
            <p>친구!봇정보</p>
            <p>친구!초대</p>
            <p>친구!패치노트</p>
        </details>
    </div>
</body>
</html>
